

.type
    // margin: 10px;
    padding: .1em .5em;
    display: inline-block;
    // border-radius: 6px;
    // border-radius: 6px;
    font-size: 2em;
    font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
    color: #FFF;
    background-color: #68A090;
    border: 1px solid #44685E;
    // opacity .5
    text-transform uppercase
    border none !important
    &:first-letter
        text-transform uppercase

.normal {
    background-color: #A8A878;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.electric {
    background-color: #F8D030;
}

.grass {
    background-color: #78C850;
}

.ice {
    background-color: #98D8D8;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.ghost {
    background-color: #705898;
}

.rock {
    background-color: #B8A038;
}

.fighting {
    background-color: #C03028;
}

.poison {
    background-color: #A040A0;
}

.psychic {
    background-color: #F85888;
}

.bug {
    background-color: #A8B820;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.dragon {
    background-color: #7038F8;
}