@require "buttons"
@require "loading"
@require "NotFound"


body
    background linear-gradient(
                gray,
                transparent
            ),
            linear-gradient(
                90deg,
                lightgray,
                transparent
            ),
            linear-gradient(
                -90deg,
                lightblue,
                transparent
            );
    font-family "Open Sans", Arial
    margin 0
    display flex
    flex-direction column
    justify-content center
    min-height 100vh
    transition .3s
    background-blend-mode: screen;


.u-hidden
    display none !important

.Index
    background rgba(white,.5)
    max-width 500px
    margin 0 auto
    padding 4em
    border 5px solid rgba(white,.5)
    border-radius .5em


.PokemonSearch
    padding 1em 0
    display flex
    &-input
        flex 1
        font-size 1.1em
        border none
        padding 1em
        outline 0
        background rgba(white.5)
        transition .3s
        &:focus
            background rgba(white,.7)
    &-submit
        background rgba(gray,.5)
        color white
        font-size 1.2em
        border none
        padding .5em 1em
        cursor pointer
        transition .2s
        outline 0
        &:active
            transform scale(.9)


.Pokedex
    min-height 100vh
    display flex
    flex-direction column
    &-goBack
        background rgba(gray.5)
        color white
        display block
        text-align right
        padding .5em
        text-transform uppercase
        cursor pointer
        &:before
            content "<"
            margin-right .5em
    &-search
        padding 2em
        max-width 600px
    &-searchTitle
        color rgba(white,.3)
        margin 0
.Pokemon
    transition .3s
    background transparent !important
    &-name
        color rgba(white,.5)
        text-transform uppercase
        font-size 150px
        margin 0
        overflow(ellipsis)
        text-shadow 1px 1px 0 rgba(black,.3)
        img
            text-align right
            height 100%
            opacity .7
            margin-left 40px
            // width 90px


.color
    width calc(100%/9)
    height 100px
    opacity .5
    display inline-flex
    transition .5s