@import "buttons"

body
    background-color lightgray
    font-family "Open Sans", Arial
    background-image url('../images/background.jpg')
    background-size cover
    margin 0
    display flex
    flex-direction column
    justify-content center
    min-height 100vh
.Index
    background white
    max-width 500px
    margin 0 auto
    padding 1em
    &-title
        margin 0

.PokemonSearch
    padding 1em 0
    display flex
    &-input
        flex 1
        margin-right 1em
        font-size 1.1em
        border 1px solid gray
        padding 1em
        outline 0
        transition .3s
        &:focus
            border 1px solid black
            background #FCF37E
    &-submit
        background #FE0000
        color white
        border none
        border-bottom 5px solid black
        padding .5em 1em
        cursor pointer
        font-size 1em
        border-radius .5em

.Pokedex
    background white
    max-width 500px
    margin 0 auto
    padding 1em
    
    &-goBack
        background black
        color white
        display block
        text-align right
        padding .5em
        text-transform uppercase
        cursor pointer
        &:before
            content "<"
            margin-right .5em
.Pokemon
    padding 1em
    transition .3s
    img
        display block
        margin 0 auto
    &.is-poison
        background #A1588D
    &.is-normal
        background #AEB1A2
    &.is-psychic
        background #ED5399
    &.is-grass
        background #7FC56C
    &.is-ground
        background #DBB76B
    &.is-ice
        background #88DEF2
    &.is-fire
        background #E64847
    &.is-rock
        background #B7AB75
    &.is-dragon
        background #7E6CEB
    &.is-water
        background #4DA0EE
    &.is-bug
        background #B0C05B
    &.is-dark
        background #7E6252
    &.is-fighting
        background #B3514C
    &.is-ghost
        background #6A6BB0
    &.is-steel
        background #B0B1C1
    &.is-flying
        background #6D98E8
    &.is-electric
        background #F4CE6A
    &.is-fairy
        background #E0A0E1
        


